.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form .form_row_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
